@font-face{
    font-family: 'Muli Semi-Bold Italic';
    src: url('Fonts/Muli-SemiBold-Italic.ttf.eot');
src: url('Fonts/Muli-SemiBold-Italic.ttf.eot?#iefix') format('embedded-opentype'),
url('Fonts/Muli-SemiBold-Italic.ttf.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@keyframes slideInFromSide{
    0%{
        transform:translateX(-100%);
        visibility: visible;
    }
    100%{
        transform:translateX(0%);
        visibility: visible;
    }
}
@keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
        visibility: visible;    }
    100%{
        transform: translateY(0%);
        visibility: visible;   
 }
}
.topnav, .thanks1, .thanks2{
      will-change: transform;

}
.bodyLoading{
    overflow: hidden;
    background-color: rgb(26, 25, 25);
    transition: 0.3sec;
}
.loading{
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.displayNone{
    display: none;
}

.topnav{
    font-family: 'Muli Semi-Bold Italic';
    z-index: 1;
    background-image: url("../assets/navBar.jpg");
    background-size: cover;
    border-radius: 5px;
    border: 1.5px solid rgb(0, 0, 0);
    left: 0px;
    position: sticky;
    top: 0;
    overflow: hidden;
    visibility: hidden;    
}
.topnavAnimation{    animation: .5s ease-out 0s 1 slideInFromTop forwards;}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1.5px solid rgb(0, 0, 0);

}
.topnav a:first-child{
    background-color: #d61454;
}

.topnav a:last-child{
    border-right: 0px;
    border-left:1.5px solid rgb(0, 0, 0);
    float: right;
}
.topnav a:hover{
    background-color: lightcoral;
    color: black;
}
.topnav a.active {
    color: white;
    background-color:#3e8e41;

    pointer-events: none;

    cursor: default;
  }
.body{
    background: url("../assets/supportBg.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: auto;    font-family: 'Quicksand';
}
h1{
    padding-left: 4px;
    margin-left: 4px;
}
h2{
    padding-left: 8px;
    margin-left: 8px;
}
h3{
    padding-left: 12px;
    margin-left: 12px;
}
.thanks1{
    visibility: hidden;
    background: url("../assets/vote.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    border-radius: 5px;
    border: 1.5px solid rgb(0, 0, 0);
    width: 95%;
    padding: 5px;
    margin: 5px auto;
    box-shadow: 5px 6px 15px #552bb8;
}
.thanks1Animation{    animation: 1s ease-out .5s 1 slideInFromSide forwards; }
.thanks2, .thanks3{
    visibility: hidden;

    background: url("../assets/link.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    border-radius: 5px;
    border: 1.5px solid rgb(0, 0, 0);
    width: 95%;
    padding: 5px;
    margin: 5px auto;
    box-shadow: 5px 6px 15px #9b1e5c;
}
.thanks2Animation{    animation: 1s ease-out 1.5s 1 slideInFromSide forwards; }
.thanks3Animation{    animation: 1s ease-out 2.5s 1 slideInFromSide forwards; 
}
img:not(#loadingImg){
    border-radius: 5px;
    position: relative;
    height: 39px;
    top:4.5px
}
#loadingImg{
    height: 50px;
}

.loading{
    animation: 1s ease-out 0s 1 slideInFromTop;
}
a{
    text-decoration: none;
    color: white;
    font-style: italic;
}